<title>{{title}}</title>
<h1>Welcome</h1>

    <form action="/form" method="POST">
        <div class="form-group">
        <label for="fnameInput">First name</label>
        <input type="text" placeholder="Enter first name" name="first_name">
        </div>

        <br/>

        <div class="form-group">
            <label for="lnameInput">Last name</label>
            <input type="text" placeholder="Enter last name" name="last_name">
            </div>

        <br/>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>