<html>
<h3>Groups list</h3>

<p>
	<a href="/index">Home</a>&emsp;
	<a href="/accounts">Accounts</a>&emsp;
	<a href="/friendships">Friendships</a>&emsp;
	<a href="/posts">Posts</a>&emsp;
	<a href="/comments">Comments</a>&emsp;
	<a href="/memberships">Memberships</a>&emsp;
	<a href="/groups">Groups</a>&emsp;
	<a href="/messages">Messages</a>&emsp;
</p>

<table style="border-collapse: collapse; width: 100%; height: 89px;" border="1">
<tbody>
<tr style="height: 89px;">
<td>Group_id</td>
<td>Group_name</td>
</tr>

{% for a in groups %}
<tr>
	<td> {{ a.0 }}</td>
	<td> {{ a[1] }}</td>
</tr>
{% endfor %}

<tr>
	<form id="add_group" action="/add_group" method="post">
	<td></td>
	<td><input type="text" placeholder="Group_name" name="add_Group_name"></td>
	<td style="text-align: center; width: 15px"><button name="submit" type="submit" value="update">Add</button></td>
</form>
</tr>
</tbody>
</table>

<br />
<form id="search_group" action="/search_group" method="get">
	<input type="number" placeholder="Group_id" name="search_Group_id"><br />
	<input type="text" placeholder="Group_name" name="search_Group_name"><br />
	<input type="submit" value="Search">
	<button type="submit" formaction="/update_group" formmethod="post">Update</button>
	<button type="submit" formaction="/delete_group">Delete</button>
</form>
</html>